html {
    font-family: Papyrus,fantasy;

    height: 100%;
    background: radial-gradient(ellipse at bottom, #0A043C 0%, #03506F 100%);
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    z-index: 1; /* Ensure stars are below the navbar */
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px 0;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    z-index: 1000;
}

.link {
    margin: 0 15px;
}

.nav-link {
    color: #FFBE98;
    text-decoration: none;
    font-size: 30px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.link .nav-link:hover {
    color: #CD5C08; /* Change to your hover color */
font-style: italic;}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    margin-top: 100px; /* Adjust based on header height */
    font-size: 100px;
    color: #A3DDCB;
    opacity: 0;
    animation: slideIn 1s forwards;
    z-index: 5;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icons li {
    margin: 0 15px;
    opacity: 0; /* Start invisible */
    animation: slideIn 0.8s forwards; /* Bounce in effect */
}

/* Add delay to each icon for staggered effect */
.icons li:nth-child(1) {
    animation-delay: 0.5s;
}
.icons li:nth-child(2) {
    animation-delay: 0.7s;
}
.icons li:nth-child(3) {
    animation-delay: 0.9s;
}

/* Ensure icons are visible */
.icons li a {
    color: #A3DDCB; /* Set a contrasting color */
    font-size: 50px; /* Increase icon size */
    transition: color 0.3s;
}

.icons li a:hover {
    color: #229799; /* Change color on hover */
}
canvas.connecting-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Lower than the text */
}

h1, .icons {
    position: relative;
    z-index: 1; /* Higher than the canvas */
    /* You can also add a background color if needed */
}

